<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mathematics Event XXII</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--  CSS + font -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/logo fix.png" width="50px" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pendaftaran </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Sekolah</a>
                <a class="dropdown-item" href="#">Peserta</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- ABOUT 2  -->
    <section class="class section" id="class">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12 text-center mb-5 mt-5">
            <h2 data-aos="fade-up" data-aos-delay="200">Profil Peserta</h2>
          </div>

          <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
            <div class="class-thumb">
              <div class="class-info">
                <img src="images/contoh.jpg" class="img-fluid" alt="foto1" />
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
            <div class="class-thumb">
              <p class="mt-3">Nama Lengkap    :</p>
              <p class="mt-3">NISN Peserta    :</p>
              <p class="mt-3">Jenis Kelamin   :</p>
              <p class="mt-3">Asal Sekolah    :</p>
              <p class="mt-3">Kontak WhatsApp  :</p>
              <p class="mt-3">Email Peserta   :</p>
              <p class="mt-3">Username        :</p>
            </div>
          </div>


            <div class="container">
              <div class="row">
                <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-4 col-md-6 mx-auto col-12">
                  <button type="submit" class="form-control" id="submit-button" name="submit">Kembali Ke Home</button>
                </div>
              </div>
            </div>


          </section>
        </div>
      </div>

    <!-- END ABOUT 2  -->

    <!-- FOOTER -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="ml-auto col-lg-4 col-md-5"></div>

          <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
            <ul style="list-style-type: none">
              <h4>Contact us</h4>
              <li>
                <p><i class="fa fa-phone mr-1"></i>0878xxxxxxx (A)</p>
              </li>
              <li>
                <p><i class="fa fa-phone mr-1"></i>0878xxxxxxx (B)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
